<div class ="image-gallery">
{% assign sorted = site.static_files | sort: 'path' %}
{% for file in sorted %}
  {% if file.path contains "img" %}
    {% if file.path contains include.folder %} 
      {% assign fullimage = file.path %}
      {% assign thumbnail = file.path | replace: "img","thumbs" %}
      <div class="box">
        <a href="{{ fullimage }}">
          <img src="{{ thumbnail }} " alt="{{ fullimage }}"  class="img-gallery" />
        </a>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
</div>
